.header-contact-title h4 {
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: var(--white);
  margin-bottom: 0;
}
.header-contact-title p {
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: var(--white);
}
.header-contact-information {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 20px;
  width: 90%;
  height: 688px;
  background: #ffffff;
  border-radius: 24px;
  margin: 0 auto;
}
.header-contact-left {
  flex: 40%;
}
.header-contact-right {
  flex: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-contact-circle-left {
  height: 576px;
  background: #6b16a8;
  border-radius: 24px;
  margin: 3%;
  position: relative;
  padding: 0 10px;
}
.contact-right-text {
  margin-left: 25px;
  padding-top: 45px;
}
.contact-right-text h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  color: var(--white);
}
.contact-right-text p {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: var(--white);
  padding-bottom: 70px;
}
.contact-right-icons span {
  font-size: 12px;
}
.contact-header-icons-left {
  width: 84%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px auto;
}
.contact-header-icons-left .contact-right-icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--white);
}
.contact-header-icons-left .contact-right-icons img {
  margin-right: 10px;
}
.right-icon-Semicircular {
  position: absolute;
  right: 0;
  bottom: 0;
}
.right-icon-circle {
  position: absolute;
  right: 77px;
  z-index: 2;
  bottom: 68px;
}
.icon-contact {
  position: absolute;
  bottom: 40px;
  display: flex;
  gap: 36px;
}
.contact-right-name {
  display: flex;
}

/* label */
.contact-right-input label {
  display: block;

  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 13px;
  color: var(--gray);
  padding-top: 15px;
  padding-bottom: 5px;
}
.contact-right-input input {
  width: 308px;
  height: 52px;
  border: 1px solid var(--white);
  border-radius: 12px;
  cursor: pointer;
}
.contact-right-input input:hover {
  border-color: var(--purple);
}
.PhoneInput {
  width: 308px;
  height: 54px;
  border: 1px solid var(--white);
  border-radius: 12px;
  cursor: pointer;
  padding: 0 10px;
}
.PhoneInputInput {
  border: none !important;
}
input:focus {
  outline: none;
}
.PhoneInput:hover {
  border-color: var(--purple);
}
.contact-left-input .yourOrder {
  margin-top: 15px !important;
  display: block;

  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 13px;
}
.css-13cymwt-control {
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid var(--white);
}
.css-13cymwt-control:hover {
  border-color: var(--purple);
}
/* message */
.contact-left-massage label {
  display: block;
  margin-top: 60px;
}
.contact-left-massage {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.contact-left-massage .message {
  border: 1px solid var(--white);
  border-radius: 12px;
  cursor: pointer;
}
.contact-left-submit {
  position: absolute;
  width: 167px;
  height: 50px;
  background-color: var(--purple);
  border-radius: 12px;
  bottom: -57px;
  right: -1px;
  border: none;
  cursor: pointer;
  color: var(--white);

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.success {
  border: 1px solid green !important;
}

@media only screen and (max-width: 767.9px) {
  .headerContactUs {
    width: 100%;
    height: auto;
    background-color: white !important;
  }
  .header-contact-information,
  .contact-right-name {
    flex-direction: column;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
  }

  .header-contact-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-contact-title h4,
  .header-contact-title p {
    color: var(--gary);
    margin: 0;
  }
  .css-13cymwt-control {
    width: 313px;
  }
  .message {
    width: 318px;
    height: 100px;
  }
  .contact-left-massage label {
    display: block;
    margin-top: 0px;
  }
  .contact-left-submit {
    width: 320px;
  }

  .contact-right-input {
    margin-bottom: 24px;
  }
}

@media only screen and (min-width: 768px) {
  .header-container-contact {
    height: 900px;

    background: linear-gradient(
      296.7deg,
      #45108a -5.17%,
      #3d065f 42.6%,
      #200554 168.23%
    );
  }
  .header-contact-title h4 {
    font-size: 32px;
  }
  .header-contact-title p {
    font-size: 28px;
  }
  .header-contact-circle-left {
    width: 260px;
  }
  .contact-right-name {
    flex-direction: column;
    gap: 20px;
  }
  .contact-left-input {
    width: 313px;
    height: 44px;
  }
  .header-contact-information {
    align-items: flex-start;
  }
  .firstName {
    margin-top: 30px;
  }
  .contact-left-massage .message {
    width: 315px;
    height: 83px;
    border: 1px solid var(--white);
  }
  .contact-left-massage label {
    display: block;

    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 13px;
    color: var(--gray);
    margin-left: 5px;
    margin-top: 30px;
  }
  .contact-left-submit {
    width: 320px;
    height: 50px;
  }
}

@media only screen and (min-width: 857px) {
  .header-contact-circle-left {
    width: 300px;
  }
}

@media only screen and (min-width: 1024px) {
  .header-contact-title h4 {
    font-size: 40px;
  }
  .header-contact-title p {
    font-size: 32px;
  }
  .header-contact-circle-left {
    width: 450px;
  }
}

@media only screen and (min-width: 1440px) {
  .contact-right-name {
    flex-direction: row;
  }
  .contact-left-input {
    width: 637px;
  }
  .header-contact-information {
    align-items: baseline;
  }
  .firstName {
    margin-top: 0;
  }
  .contact-left-massage .message {
    width: 638px;
    height: 215px;
    border: 1px solid var(--white);
  }
  .contact-left-submit {
    width: 167px;
    height: 54px;
    bottom: -80px;
  }
}
