.header-contact-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
}
.header-contact-title h4 {
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
}
.header-contact-title p {
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
}
.header-contact-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 62px;
  width: 1300px;
  height: 608px;
  background: #ffffff;
  border-radius: 24px;
  margin: 0 auto;
}
.header-contact-right {
  display: flex;
  flex-direction: column;
  width: 506px;
  height: 576px;
  background-color: var(--purple);
  border-radius: 24px;
  color: #ffffff;
}
.header-contact-right h5 {
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
}
.header-contact-right p {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}
.contact-right-text,
.contact-right-icon {
  padding: 46px 100px 10px 50px;
}
.contact-left-name {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin-top: 30px;
}

.contact-left-input label,
.contact-left-massage label {
  display: block;
}
.contact-left-input input {
  width: 308px;
  height: 54px;
  border: 1px solid var(--white);
  border-radius: 12px;
  cursor: pointer;
}
.contact-left-input input:hover,
.contact-left-massage input :hover {
  border-color: var(--purple);
}
.contact-left-massage {
  margin-top: 20px;
}
.contact-left-massage input {
  width: 640px;
  height: 156px;
  border: 1px solid var(--white);
  border-radius: 12px;
  cursor: pointer;
}
.contact-left-massage label,
.contact-left-input label {
  font-weight: 300;
  font-size: 12px;
  line-height: 13px;
  padding-bottom: 6px;
}
.contact-left-submit {
  display: flex;
  text-align: center;
  width: 167px;
  height: 54px;
  background: var(--purple);
  color: var(--white2);
  border-radius: 12px;
  margin-left: 480px;
  cursor: pointer;
}
.contact-right-icons {
  display: flex;
  margin-left: 45px;
}
.contact-right-icons span {
  padding: 10px;
}
.icon-contact {
  margin-left: 45px;
}
.icon-contact img {
  padding: 15px;
}
.icon-contact {
  margin-top: 30px;
}
.contact-right-icon {
  position: relative;
}
.right-icon-circle {
  position: absolute;
  right: 70px;
  bottom: 65px;
  z-index: 22;
}
.right-icon-Semicircular {
  position: absolute;
  right: 0px;
  bottom: 10px;
}
.right-icon-span span {
  display: block;
}
