#header-services {
  background-image: url(../../../public/images/Group.png);
  background-position: top;
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position-x: right;
}
.headerBoxService {
 
  height: 332px;
  position: relative;
}
.header-services-text {
  color: var(--white2);
  margin-left: 40px;
 
}
.header-services-text h3 {
  font-weight: 700;
  font-size: 64px;
  line-height: 70px;
}
.header-services-text p {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.headerBoxButton-service{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.button-headerContainer-send a{
  display:flex;
  align-items: center;
  justify-content: center;
  color: white;
}
@media only screen and (max-width: 1200px) {
  #header-services {
    background-size: 650px;
  }
  .header-services-text {
    flex: 1 1;
    padding: 0px 0px 10px 40px;
    margin-top: -70px;
  }
}
@media only screen and (max-width: 992px) {
  #header-services {
    background-size: 550px;
  }
}
@media only screen and (max-width: 768px) {
  .header-services-text {
    margin-top: 276px;
  }
  .header-services-text h3 {
    font-weight: 700;
    font-size: 36px;
  }
  .button-number-headerContainer,
  .button-headerContainer-send {
    margin-top: 30px;
  }
  .headerBoxButton-service {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-left: -41px;
    bottom: 2px;
}
.headerBoxButton-service button{
  border-radius: 0;
}
}
@media only screen and (max-width: 576px) {
  #header-services {
    background-size: 460px;
    height: 600px;
  }
  .header-services-text h3 {
    margin-top: 3px;
  }
  .header-services-text p {
    margin: 15px 30px;
  }
}
