.header-about-container {
  background-image: url(../../../public/images/header-about.svg);
  background-repeat: no-repeat;
  background-position: top;
  height: 924px;
  margin: 75px 28px;
  border-radius: 20px;
}
.header-about-text {
  max-height: 500px;
}
#button-about2 {
  background-color: var(--white);
  color: var(--gray);
}
.header-about {
  padding: 170px 120px;
}
.header-about-container h3 {
  font-weight: 700;
  font-size: 64px;
  color: var(--white2);
  padding: 0px 120px;
  margin-top: 0px;
}
.header-about p {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  margin-top: 150px;
}
@media only screen and (max-width: 1200px) {
  .header-about-container {
    background-image: url(../../../public/images/header-about.svg);
    background-size: 1400px;
  }
  .header-about {
    padding: 145px 25px;
  }
  .header-about-container h3 {
    padding: 0px 25px;
  }
  .header-about p {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
  }
}
@media only screen and (max-width: 768px) {
  .header-about-container {
    background-image: url(../../../public/images/mobile-about.svg);
    background-repeat: no-repeat;
    background-size: 700px;
    height: 1500px;
    background-position: top;
  }
  .header-about p {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
  }
  .header-about {
    padding: 55px 25px;
  }
  #buttons-about {
    margin-right: 270px;
  }
  .header-about-container h3 {
    margin-top: 780px;
  }
}
@media only screen and (max-width: 576px) {
  .header-about-container {
    background-image: url(../../../public/images/mobile-about.svg);
    background-size: 540px;
  }
  .header-about-container h3 {
    margin-top: 425px;
  }
  .header-about {
    padding: 50px 25px;
  }
  #buttons-about {
    margin-right: -20px;
    margin-top: 45px;
  }
  .header-about p {
    margin-top: 80px;
  }
}
