.design {
  display: flex;
}
.text-design p {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--black);
  padding: 20px 8px;
  /* text-align: justify; */
}
.image-design img {
  width: 90%;
}
