.introit{
    background-color:  rgba(55, 56, 63, 1);  
}
.introitText{
    color: white;
}
.titleIntroit{
    color: white;
}
@media only screen and (min-width: 768.1px) {
    .introit{
        background-image: url('../../../public/images/3184.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    }
}