

.client {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(236, 232, 239, 1);
  ;
  gap: 15px;
  padding: 0 0 150px 0;
 
}
.clientBox {
  width: 25.5rem;
  height: 268px;
  background-color: white;
  border-radius: 24px;
}
.clientBoxProfile {
  display: flex;
  gap: 1rem;
  padding: 50px 0 0 50px;
}

.profileName {
  font-family: 'Akshar';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--black);
}
.job {
  font-family: 'Akshar';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 13px;
  color: var(--black);
  margin: -5px 0;
}
.descPara {
  width: 308px;
  height: 72px;
  font-family: 'Akshar';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: justify;
  color: var(--black);
  padding: 0 50px;
}
.commentsProfile {
  margin-top: 196px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.comments {
  font-family: 'Akshar';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  color: var(--black);
}
.paraComments {
  font-family: 'Akshar';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--gray);
  text-align: center;
  padding: 0 15%;
}

@media only screen and (max-width : 768px){
    .client{
        height: 2100px;
    } 
    .comments{
      font-size: 28px;
    } 
}
