.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.client {
  width: 100%;
  background-color: rgba(236, 232, 239, 1);
  padding: 0 0 150px 0;
}
.clientBox {
  width: 25.5rem;
  height: 268px;
  background-color: white;
  border-radius: 24px;
}
.clientBoxProfile {
  display: flex;
  gap: 1rem;
  padding: 50px 0 0 50px;
}


.profileName {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--black);
}
.job {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 13px;
  color: var(--black);
  margin: -5px 0;
}
.descPara {
  height: 72px;
  font-family: "Akshar";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: justify;
  color: var(--black);
  padding: 0 50px;
}
.commentsProfile {
  margin-top: 196px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.comments {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  color: var(--black);
}
.paraComments {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--gray);
  text-align: center;
  padding: 0 15%;
}

@media only screen and (max-width: 420px) {
  .clientBox {
    width: 22.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .client {
    height: 2100px;
  }
  .comments {
    font-size: 24px;
  }
  .clientBox {
    width: 22.5rem;
  }
}
@media only screen and (min-width: 768.1px) {
  .clientBox {
    width: 22.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .clientBox {
    width: 23.5rem;
  }
}
@media only screen and (min-width: 1440px) {
  .clientBox {
    width: 24.5rem;
  }
}
