.serviceP{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.serviceP h3 {
    padding-top: 150px;
    font-family: "Akshar";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #37383f;
  }
  .serviceP p {
    width: 710px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #37383f;
  }
  @media only screen and (max-width: 768px) {
    .serviceP p {
      width: 350px;
      font-size: 16px;
      line-height: 17px;
    }
    .serviceP h3{
      font-size: 24px;
    }
  }
  @media only screen and (min-width: 768.1px) {
  }
  @media only screen and (min-width: 1280px) {
  }