.about-team-mobile {
  display: none;
}
.about-team-mobile span,
#about-team-text span {
  color: var(--purple);
}
@media only screen and (max-width: 992px) {
  .onlineShope-text {
    flex: 2 1;
    padding: 9px 35px;
  }
}
@media only screen and (max-width: 768px) {
  .about-team-mobile {
    display: block;
  }
  #about-team-desktop,
  #about-team-text {
    display: none;
  }
  .about-team-mobile img {
    width: 540px;
  }
}
@media only screen and (max-width: 567px) {
  .about-team-mobile img {
    width: 450px;
  }
}
