.about-Team {
  display: flex;
  align-items: center;
  gap: 2px;
}
.about-team-mobile {
  display: none;
}
.about-team-mobile span,
.about-team-text span {
  color: var(--purple);
}
.about-team-desktop img {
  width: 75%;
}

@media only screen and (max-width: 1240px) {
  .about-team-desktop img {
    width: 540px;
  }
  .about-Team {
    gap: 0px;
  }
  .about-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
}

@media only screen and (max-width: 992px) {
  .about-Team {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -200px;
  }
  .about-team-mobile {
    display: block;
  }
  .about-team-desktop,
  .about-team-text {
    display: none;
  }
  .about-team-mobile img {
    width: 600px;
    margin-right: 265px;
  }
}
@media only screen and (max-width: 768px) {
  .about-team-mobile img {
    width: 498px;
    margin-right: 203px;
  }
  .about-Team {
    margin-top: 2px;
  }
  #about-text {
    padding: 20px 17px;
  }
}
@media only screen and (max-width: 567px) {
  .about-team-mobile img {
    width: 300px;
    margin-right: 35px;
  }
}
