.header-container {
  background-color: rgba(61, 6, 95, 1);
  position: relative;
}

.headerBoxText-home h3,
.headerBoxText-home p {
  color: white;
  margin: 50px 30px;
}
.headerBoxText-home h3 {
  font-family: math;
  font-size: 32px;
}
.button-number-headerContainer {
  background-color: var(--purple);
  color: var(--white);
  display: flex;
  width: 15rem;
  height: 44px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
  font-family: "Akshar";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
.button-headerContainer-send {
  background-color: rgba(61, 6, 95, 1);
  color: var(--white);
  display: flex;
  width: 15rem;
  height: 44px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 4px solid rgba(107, 22, 168, 1);
  font-family: "Akshar";
  font-weight: 600;
  font-size: 16px;
}
.linkHeaderPortfolio {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media only screen and (max-width: 768px) {
  .header-container {
    width: 100%;
    min-height: 726px;
    background-color: rgba(61, 6, 95, 1);
    margin: 0px;
  }
  .headerBoxImg{
    text-align: center;
  }
  .headerBoxImg img {
    height: 320px;
  }
  .button-headerContainer {
    bottom: 0 !important;
  }

  .headerBoxButton {
    display: flex;
    gap: 1px;
    align-items: center;
    justify-content: center;
  }
  .headerBoxButton img {
    width: 49.5%;
    position: absolute;
    bottom: 0;
    height: 40px;
  }
  .buttonPhone {
    left: 0;
  }
  .emailPhone {
    right: 0;
  }
  .headerBoxText-home h3 {
    margin-top: -25px;
  }
}
@media only screen and (min-width: 768.1px) {
  .header-container {
    height: 650px;
    margin: 75px 28px;
    border-radius: 20px;
  }
  .headerBox {
    display: flex;
    flex-direction: row-reverse;
  }
  .headerBoxText-home {
    flex: 1;
    padding: 40px 0 0 40px;
    /* max-height: 655px; */
  }
  .headerBoxText-home h3 {
    font-size: 42px;
    font-weight: 700;
    margin-top: 50px;
  }
  .headerBoxText-home p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    width: 80%;
  }
  .headerBoxButton {
    display: flex;
    gap: 10px;
    margin-top: 54px;
    width: 85%;
  }
  .headerBoxButton img {
    width: 10%;
  }
  .headerBoxImg {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .headerBoxImg img {
    max-width: 85%;
    max-height: 800px;
    margin-right: 100px;
  }
}
@media only screen and (min-width: 1240px) {
  .header-container {
    height: 800px;
  }
  .headerBoxText-home h3 {
    font-size: 48px;
    margin-top: 150px;
  }
  .headerBoxText-home p {
    font-size: 20px;
  }
  .headerBoxImg img {
    width: 85%;
    max-width: 650px;
    margin-top: 35px;
  }
}
