.header-container {
    width: 92%;
    height: 900px;
    background: linear-gradient(
      296.7deg,
      #45108a -5.17%,
      #3d065f 42.6%,
      #200554 168.23%
    );
    margin: 75px 60px;
    border-radius: 14px;
  }
  
  .header-bottom {
    display: flex;
    color: #fff;
    justify-content: space-between;
  }
  .header-bottom-text {
    padding: 200px 0 0 120px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .header-bottom-text h3 {
    font-weight: 700px;
    font-size: 52px;
    flex: 1;
  }
  .header-bottom-img {
    flex: 2;
  }
  .header-bottom-img img {
    width: 700px;
    height: 750px;
  }
  .img-button {
    display: flex;
    gap: 10px;
  }