
.description {
  display: flex;
  height: 600px;
  margin-top: 160px;
}
.desc-img,
.desc-text {
  flex: 1;
}
.desc-img-circle {
  background-image: url('../../../public/images/Ellipse.svg');
  background-repeat: no-repeat;
  margin-top: 50px;
  margin-left: 50px;
}
.desc-img-circle img {
  margin: -80px 0 0px 60px;
}
.desc-text {
  padding: 0 100px;
  margin-top: 150px;
}
.desc-text h4 {
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
  color: #37383f;
}
.desc-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #37383f;
}
.desc-phone {
  display: flex;
  justify-content: space-between;
}
.desc-other {
  padding-right: 60px;
}
.desc-text-2 {
  margin-top: 50px;
}
.service {
 
  background: #ece8ef;
  margin-top: 100px;
  text-align: center;
}
.serviceBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

@media only screen and (max-width: 818px) {
  .service {
    height: 2700px;
  }
}
@media only screen and (min-width: 818.1px) {
  .service {
    height: 1565px;
  }
}
@media only screen and (min-width: 1233px) {
  .service{
    height: 1275px;
  }
}
