/* .header-container {
  width: 92%;
  height: 900px;
  background: linear-gradient(
    296.7deg,
    #45108a -5.17%,
    #3d065f 42.6%,
    #200554 168.23%
  );
  margin: 75px 60px;
  border-radius: 14px;
}

.header-bottom {
  display: flex;
  color: #fff;
  justify-content: space-between;
}
.header-bottom-text {
  padding: 200px 0 0 120px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header-bottom-text h3 {
  font-weight: 700px;
  font-size: 52px;
  flex: 1;
}
.header-bottom-img {
  flex: 2;
}
.header-bottom-img img {
  width: 700px;
  height: 750px;
} */
/* .img-button {
  display: flex;
  gap: 10px;
} */
.description {
  display: flex;
  height: 600px;
  margin-top: 160px;
}
.desc-img,
.desc-text {
  flex: 1;
}
.desc-img-circle {
  background-image: url("../../../public/image/Ellipse.svg");
  background-repeat: no-repeat;
  margin-top: 50px;
  margin-left: 50px;
}
.desc-img-circle img {
  margin: -80px 0 0px 60px;
}
.desc-text {
  padding: 0 100px;
  margin-top: 150px;
}
.desc-text h4 {
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
  color: #37383f;
}
.desc-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #37383f;
}
.desc-phone {
  display: flex;
  justify-content: space-between;
}
.desc-other {
  padding-right: 60px;
}
.desc-text-2 {
  margin-top: 50px;
}
.service {
  
  height: 1200px;
  background: #ece8ef;
  margin-top: 100px;
  text-align: center;
}
.serivesBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
@media only screen and (max-width: 480px) {
}
@media only screen and (min-width: 480.1px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1280px) {
}
