.box {
  width: 23.5rem;
  height: 368px;
  background: #ffffff;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ece8ef;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 36px 8px rgba(0, 0, 0, 0.1);
}
.box-text {
  width: 85%;
  font-size: 16px;
  font-weight: 400;
  color: var(--gray);
  line-height: 21px;
  
}
.paraBox{
  font-weight: 600;
  font-size: 16px;
  color: var(--gray);
}

.seeMore {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  gap: 10px;
  width: 171px;
  height: 42px;
  background: #ece8ef;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Akshar';
}
.seeMore:hover{
  background: #6B16A8;
  color: #ffffff;
  
}
@media only screen and (max-width : 420px){
  .box {
    width: 21.5rem;
    height: 350px;
  }
}
@media only screen and (max-width: 768px) {
  
}
@media only screen and (min-width: 768.1px) {
  .box {
    width: 22.5rem;
    height: 340px;
  }
  .box-img {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 1280px) {
 
}
@media only screen and (min-width: 1440px) {
  .box {
    width: 23.5rem;
  }
  .box-img {
    margin-top: 40px;
  }
}
