.portfolios {
  padding: 0 78px;
}
.portfolios h4 {
  font-family: "Akshar";
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
}
.portfolios h4 span {
  color: var(--purple);
}
.portfolios-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.portfolios-images img {
  width: 390px;
  height: 340px;
  border-radius: 25px;
}
.menu-mobiles {
  background-color: var(--gray);
  width: 455px;
  height: 421px;
}
.more {
  font-family: "Akshar";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 100px;
}
.PortfoliosMobile {
  display: none;
}
.swiper-img {
  width: 352px;
  height: 259px;
  border-radius: 8px 8px 0px 0px;
}
.description-portfolio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 18px 32px;
  width: 288px;
  height: 198px;
  background: var(--gray);
  backdrop-filter: blur(5px);
  border-radius: 0px 0px 8px 8px;
}
.description-portfolio h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}
.description-portfolio p {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}
.button-portfolio {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 32px;
  gap: 10px;
  width: 148px;
  height: 42px;
  border: 2px solid var(--purple);
  border-radius: 8px;
  color: var(--white);
}
.portfolio-swiper {
  padding: 5px;
}
.box-portfolios {
  display: none;
  color: var(--white2);
  padding: 18px 32px;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  z-index: 2;
  bottom: 0px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.portfolios-images a:hover > .box-portfolios {
  display: block;
}

.portfolio-image-desktop {
  position: relative;
}

.box-portfolios button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 32px;
  font-weight: 600;
  font-size: 16px;
  width: 160px;
  height: 42px;
  border-radius: 8px;
  background-color: var(--purple);
  border: none;
  color: var(--white2);
  text-transform: uppercase;
}

.box-portfolios span {
  margin-top: -30px;
}

.portfolio-mobile-container {
  width: 100%;
  overflow: hidden;
  padding: 0 20px;
}

.portfolio-mobile-container > .title {
  text-align: left;
}
.portfolio-mobile-container > .title span {
  color: var(--purple);
}

.portfolio-mobile-container .swiper {
  height: 479px;
  margin-left: -20px;
}

.box-portfolios-mobile {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: var(--gray);
  backdrop-filter: blur(5px);
  color: var(--white2);
  padding: 0 20px;
  border-radius: 0px 0px 8px 8px;
}

.box-portfolios-mobile button {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 32px;
  gap: 10px;
  width: 167px;
  height: 42px;
  border: 2px solid var(--purple);
  background: var(--gray);
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  color: var(--white2);
  text-transform: uppercase;
}
.portfolio-image,
.box-portfolios-mobile {
  margin-left: 20px;
}
@media only screen and (max-width: 992px) {
  .portfolios {
    margin-top: 100px;
  }
  .portfolios-images img {
    width: 340px;
    height: 380px;
  }
  .box-portfolios {
    width: 340px;
  }
}

@media only screen and (max-width: 768px) {
  .portfolios {
    margin-top: 100px;
  }
  .portfolio-image img {
    width: 288px;
    height: 259px;
    border-radius: 8px 8px 0px 0px;
  }
  .box-portfolios-mobile {
    width: 288px;
    height: 220px;
    left: 0px;
    top: 256px;
  }
  .box-portfolios-mobile h5 {
    margin-top: -3px;
  }
}
