.description {
  display: flex;
  justify-content: space-around;
  height: 600px;
  margin-top: 140px;
  gap: 80px;
}
.description-img {
  width: 490px;
  height: 490px;
  border-radius: 50%;
  background-color: var(--white);
}
.description-img img {
  width: 350px;
  height: 640px;
  margin-top: -60px;
  margin-left: 50px;
}
.description-texts {
  width: 620px;
}
.description-text {
  display: none;
}
.description-texts p,
.information {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--gray);
}
.information {
  display: flex;
  justify-content: space-between;
}
.information-other {
  padding-right: 55px;
}
@media only screen and (max-width: 1200px) {
  .description-img {
    width: 410px;
    height: 410px;
    margin-left: 10px;
  }
  .description-img img {
    width: 280px;
    height: 510px;
    margin-left: 60px;
  }
  .description-texts p,
  .information {
    font-size: 14px;
  }
  .description-texts {
    width: 426px;
  }
}
@media only screen and (max-width: 992px) {
  .description-img img {
    width: 200px;
    height: 418px;
    margin-top: -46px;
    margin-left: 55px;
  }
  .description-img {
    width: 350px;
    height: 350px;
    margin-left: 5px;
  }
  .description-texts p,
  .information {
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
  }
  .description-texts {
    width: 345px;
  }
}
@media only screen and (max-width: 768px) {
  .description {
    display: flex;
    margin-top: 115px;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  .description-img img {
    width: 228px;
    height: 390px;
    margin-top: -38px;
    margin-left: 45px;
  }
  .description-img {
    width: 330px;
    height: 330px;
    margin: 0 auto;
  }
  .description-texts {
    width: 480px;
    text-align: center;
  }
  .description-texts p,
  .information {
    font-size: 12px;
  }
  .description-texts h4 {
    display: none;
  }
  .description-text {
    display: block;
  }
  .texts-p {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .description-img img {
    width: 193px;
    height: 303px;
    margin-top: -29px;
    margin-left: 28px;
  }
  .description-img {
    width: 260px;
    height: 260px;
  }
  .description-texts {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
  .description-texts p {
    font-weight: 300;
    font-size: 15px;
    width: 75%;
    margin: 0 auto;
  }
  .description-texts h4 {
    display: none;
  }
  .description-text {
    display: block;
  }
  .texts-p,
  .information {
    display: none;
  }
}
