.description-img {
  width: 590px;
  height: 590px;
  border-radius: 50%;
  background-color: var(--white);
  margin-left: 140px;
}
.description-img img {
  width: 429px;
  height: 740px;
  margin-top: -60px;
  margin-left: 50px;
}
.description-texts {
  width: 620px;
  padding: 0 35px 50px 35px;
}
.description-text {
  display: none;
}
.description-texts p,
.information {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--gray);
}
.information {
  display: flex;
  justify-content: space-between;
}
.information-other {
  padding-right: 55px;
}
@media only screen and (max-width: 1200px) {
  .description-img {
    width: 510px;
    height: 510px;
    margin-left: 100px;
  }
  .description-img img {
    width: 350px;
    height: 630px;
    margin-left: 41px;
  }
  .description-texts p,
  .information {
    font-size: 14px;
  }
}
@media only screen and (max-width: 992px) {
  .description-img img {
    width: 290px;
    margin-top: -95px;
    margin-left: 19px;
  }
  .description-img {
    width: 445px;
    height: 445px;
    margin-left: 84px;
  }
  .description-texts p,
  .information {
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .description {
    display: flex;
    margin-top: 115px;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  .description-img img {
    width: 230px;
    margin-top: -155px;
    margin-left: 45px;
  }
  .description-img {
    width: 330px;
    height: 330px;
    margin-left: 66px;
  }
  .description-texts p,
  .information {
    font-size: 12px;
  }
  .description-texts h4 {
    display: none;
  }
  .description-text {
    display: block;
  }
  .texts-p {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .description-img img {
    width: 193px;
    margin-top: -190px;
    margin-left: 28px;
  }
  .description-img {
    width: 260px;
    height: 260px;
  }
  .description-texts p {
    font-weight: 500;
    font-size: 16px;
    padding: 0 45px;
  }
  .description-texts h4 {
    display: none;
  }
  .description-text {
    display: block;
  }
  .texts-p,
  .information {
    display: none;
  }
} 
