.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 50px;
}
.is-sticky div div .header-left-laptop .header-left-text {
  color: var(--gray);
}
.is-sticky div div .menu-header li {
  color: var(--gray);
}
.is-sticky div div .menu-header li:hover {
  border-bottom: 3px solid var(--purple);
  padding-bottom: 10px;
}

.is-sticky div div .button-number {
  background-color: var(--purple);
  color: var(--white);
}
.button-number {
  cursor: pointer;
  display: none;
}
.is-sticky div div .header-left-laptop .header-left-text {
  color: var(--gray);
}
.is-sticky div div .menu-header li {
  color: var(--gray);
}
.is-sticky div div .menu-header li:hover {
  border-bottom: 3px solid var(--purple);
  padding-bottom: 10px;
}
.is-sticky div div .button-number {
  background-color: var(--purple);
  color: var(--white);
}
.button-number {
  display: none;
}
.menu-header {
  display: flex;
  height: 30px;
}
.menu-header li {
  color: var(--white);
  list-style: none;
  margin: 0 7px;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  padding-bottom: 10px;
}

.menu-header li:hover {
  font-weight: 700;
  border-bottom: 3px solid var(--white);
  cursor: pointer;
}

.sliderHeader {
  width: 100%;
  height: 726px;
  display: none;
  position: absolute;
  background-color: var(--white);
  flex-direction: column;

  z-index: 1;
}
.sliderHeader-active {
  display: flex;
}
.GroupSlider {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sliderHeader .closeSliderMenu {
  flex: 1;
}
.sliderHeader .ulSlider {
  flex: 2;
  position: relative;
  display: flex;
}
.activeClick {
  display: flex;
  flex-direction: column;
  gap: 1px;
  flex: 1;
  margin-top: 15px;
}
.activeClick span {
  display: block;
  padding: 10px 0;
  width: 10px;
  height: 25px;
}
.activeClick .active {
  background-color: var(--purple);
}
.ulSliderHeader {
  flex: 2;
}
.sliderHeader .GroupSlider {
  flex: 1;
}
.closeImageSlider {
  margin: 25px;
}
.sliderHeader .menuSliderHeader {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  list-style: none;
}

.sliderHeader .menuSliderHeader .itemSliderHeader {
  color: black;
  padding: 15px;
  height: 18px;
  font-family: "Akshar";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
}

.active {
  font-size: 16px;
  font-weight: 700;
  border-bottom: 4px solid var(--white);
}

.is-sticky .active {
  border-bottom-color: var(--purple);
}

.sliderHeader .menuSliderHeader .activeHome {
  font-size: 16px;
  font-weight: 700;
}
.sliderHeader .menuSliderHeader .activeService {
  font-size: 16px;
  font-weight: 700;
}
.sliderHeader .menuSliderHeader .activePortfolio {
  font-size: 16px;
  font-weight: 700;
}
.sliderHeader .menuSliderHeader .activeAbout {
  font-size: 16px;
  font-weight: 700;
}
.sliderHeader .menuSliderHeader .activeContact {
  font-size: 16px;
  font-weight: 700;
}
.header-left-laptop {
  display: none;
}
.header-left-circle {
  width: 50px;
  height: 50px;
  background-color: var(--purple);
  border-radius: 50%;
}
.header-left-text {
  color: var(--white);
  font-size: 28px;
  font-weight: 700;
  position: absolute;
}

.phone-mobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  gap: 10px;
  width: 52px;
  height: 32px;
  background-color: var(--white2);
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.phone-mobile svg {
  color: var(--purple);
}
.menu-laptop2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100px;
}
.menu-laptop2 .circleCenterHeader {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--purple);
  display: inline-block;
}
.menu-laptop2 .textCircleCenterHeader {
  color: white;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 0;
}
@media only screen and (max-width: 480px) {
  .menu-header {
    display: none;
  }

  .menu-laptop {
    display: none;
  }
  .phone-laptop {
    display: none;
  }
}
@media only screen and (min-width: 480.1px) {
  .menu-header {
    display: none;
  }
  ul li {
    font-size: 16px;
  }
  .menu-laptop {
    display: none;
  }
  .phone-laptop {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  ul {
    display: flex;
  }
  .header-div-right {
    margin-right: 30px;
  }

  .header-left-laptop {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 111px;
  }
  .menu-mobile {
    display: none;
  }
  .phone-laptop,
  .menu-laptop {
    display: flex;
    width: 145px;
  }
  .phone-mobile {
    display: none;
  }
  .menu-laptop2 {
    display: none;
  }
  ul li {
    font-size: 14px;
  }

  .menu-header {
    display: flex;
  }
  .is-sticky {
    background-color: var(--white);
    color: black !important;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0;
    z-index: 92;
    height: 70px;
  }

  .is-sticky > div {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0px calc(56px + 50px);
    padding-top: 9px;
  }

  .button-number {
    display: flex;
    width: 165px;
    height: 44px;
    background-color: var(--white);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
    font-size: 15px;
    color: var(--purple);
    gap: 5px;
    border: none;
    font-weight: 600;
  }
  .button-number:hover {
    background-color: white;
    color: var(--purple);
  }
}
@media only screen and (min-width: 1240px) {
  .is-sticky {
    margin-left: 0;
  }

  .button-number {
    width: 201px;
    height: 44px;
    font-size: 16px;
  }
  .menu-header li {
    margin: 0 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    padding-bottom: 10px;
  }
  .menu-laptop,
  .phone-laptop {
    width: auto;
  }
  .button-number {
    width: 218px;
    font-size: 16px;
  }
}
