.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 240px;
  border-radius: 32px;
  background: var(--purple);
  border: 1px solid var(--purple);
  margin: 190px auto;
  padding: 0px 160px;
}

.contact p {
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  color: var(--white);
}
.button-submit {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  position: relative;
  border: none;
}
.inputs {
  width: 464px;
  height: 60px;
  border-radius: 8px;
  border: 1px solid var(--white2);
  background-color: var(--white);
}
.input1,
.input2 {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 150px;
  padding: 17px 60px;
  background: var(--gray);
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  margin: 2px;
}
.input2 {
  display: none;
}

.icon2 {
  position: absolute;
  top: 22px;
  left: 22px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin: 100px 0 110px 0px;
  position: relative;
}

.icons-bottom {
  position: fixed;
  bottom: 16px;
  left: 32px;
  transform: all 0.4s;
  cursor: pointer;
  display: none;
}
.icons-bottom.active {
  cursor: pointer;
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}
.icon {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: var(--white);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.footer-button {
  width: 100%;
  height: 450px;
  background-color: var(--white);
}
.header-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 77px;
}
.footer-ul {
  display: flex;
  gap: 15px;
}
.footer-ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}
.footer-ul li:hover {
  font-weight: bold;
  border-bottom: 3px solid var(--white);
  cursor: pointer;
}
.header-icon {
  margin-left: -2px;
}
.footer-header-ul2 {
  display: none;
}
.description-icon {
  display: flex;
  justify-content: space-between;
  padding: 0 72px;
}
.footer-icon-right {
  display: flex;
  gap: 25px;
}
.footer-icons-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.phone-span span {
  display: block;
  text-align: center;
  padding: 0px;
}
#footer-icon-post {
  padding-right: 138px;
}
#footer-icon-phone {
  padding-right: 155px;
}
.footer-border {
  align-items: center;
  border: 1px solid #c6c2de;
  margin: 50px 72px;
}
.footer-icon-left img {
  margin-left: 75px;
}
.footer-button-texts {
  display: flex;
  justify-content: space-between;
  text-align: center;
  cursor: pointer;
  padding: 0 34px;
}
.footer-email {
  padding: 0 60px;
}
.footer-button-text span {
  padding: 0 45px;
}
#footer-icon-right-mobile {
  display: none;
}
#footer-header-ul2 {
  display: none;
}
@media only screen and (max-width: 1290px) {
  .footer-border {
    width: 1100px;
    margin: 50px 20px 20px 75px;
  }
  .contact {
    width: 1200px;
  }
}

@media only screen and (max-width: 1200px) {
  .contact {
    width: 910px;
  }
  .icon {
    height: 110px;
    margin-left: 0px;
    width: 110px;
  }
  .icons {
    margin: 100px;
  }
  .icon-img {
    width: 65px;
  }
  .icons-bottom {
    left: 65px;
  }
  .header-footer {
    gap: 388px;
  }
  .description-icon {
    gap: 94px;
  }
  .footer-border {
    width: 885px;
  }
  .footer-button-texts {
    padding: 5px 0px;
  }
}
@media only screen and (max-width: 992px) {
  .contact {
    width: 675px;
  }
  .contact p {
    font-weight: 500;
    font-size: 27px;
  }
  .inputs {
    width: 280px;
    margin-right: -75px;
  }
  .input1,
  .input2 {
    width: 58px;
    margin-right: -72px;
    padding: 18px 47px;
    margin-top: 2px;
  }
  .button-submit {
    right: 90px;
    top: 20px;
  }
  .input {
    width: 130px;
  }
  .header-footer {
    gap: 148px;
  }
  .icon {
    width: 90px;
    height: 90px;
    margin-left: 5px;
  }
  .icons {
    gap: 0px;
  }
  .icon-img {
    width: 50px;
  }
  #icon-img1 {
    width: 40px;
    width: 79px;
  }
  .whatsapp {
    display: none;
  }
  .description-icon {
    gap: 0px;
  }
  .footer-border {
    width: 625px;
  }
  .footer-button-text {
    display: none;
  }
  .footer-email {
    margin-left: 8px;
  }
}
@media only screen and (max-width: 768px) {
  .icon-img {
    width: 45px;
  }
  .contact {
    width: 520px;
  }
  .contact p {
    font-weight: 400;
    font-size: 16px;
  }
  .icon-img1 {
    display: none;
  }
  .input1,
  .input2 {
    width: 100px;
    margin-right: -87px;
    padding: 17px 49px;
  }
  .inputs {
    width: 250px;
    margin-right: -88px;
  }
  .button-submit {
    margin-right: 30px;
  }
  .icon {
    width: 70px;
    height: 70px;
    margin-left: 10px;
  }
  .icons-bottom {
    left: 40px;
  }
  .header-footer {
    padding: 30px 70px;
  }
  .description-icon {
    display: flex;
    flex-direction: column;
  }
  .footer-border {
    width: 420px;
    margin-top: 6px;
  }
  .footer-icon-left {
    display: flex;
    margin-top: 10px;
    align-items: flex-start;
  }
  .footer-icon-left img {
    width: 40px;
    margin-left: 10px;
  }
  #footer-header-ul {
    display: none;
    flex-direction: column;
    margin-left: 50px;
  }
  #footer-header-ul2 {
    display: block;
    margin-top: 2px;
    margin-left: -100px;
  }

  .footer-description-item {
    display: flex;
  }

  .footer-icons-right {
    padding-left: 0px;
  }
  .header-icon {
    margin-left: 0px;
  }
  .footer-ul li {
    padding-bottom: 16px;
  }
}

@media only screen and (max-width: 576px) {
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 98%;
    height: 428px;
    margin: 100px 0px 100px 0px;
    border-radius: inherit;
    padding: 90px 30px;
  }
  .contact p {
    padding: 0;
  }
  .button-submit {
    width: 100%;
    height: 60px;
    border-radius: 8px;
  }
  .inputs {
    width: 97%;
    margin-top: -24px;
    margin-right: -100px;
  }
  .input1 {
    display: none;
  }
  .input2 {
    display: block;
    padding: 15px 70px;
    gap: 10px;
    width: 193px;
    height: 48px;
    margin-top: 300px;
    text-transform: uppercase;
    margin-left: 34px;
  }
  .icon-img {
    width: 30px;
  }
  .icons {
    gap: 14px;
  }
  .icon {
    width: 36px;
    height: 36px;
  }
  .icons-bottom {
    left: -80px;
  }
  .icon-img1 {
    width: 50px;
  }
  .whatsapp {
    display: none;
  }
  .footer-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: row;
  }
  .header-icon {
    margin-left: 10px;
    padding-top: 44px;
  }
  .header-footer {
    padding: 33px 0px;
  }
  .footer-icon-left {
    padding-left: 0px;
  }
  .footer-icon-left img {
    width: 30px;
    margin-left: 15px;
  }
  .footer-icon-right {
    padding: 5px;
  }
  #footer-header-ul2 {
    margin-left: -148px;
    margin-top: -8px;
  }
  .footer-icons-right {
    padding-left: 10px;
  }
  .footer-description {
    flex-direction: column;
    padding: 0 0px;
  }
  .footer-button-text,
  #footer-icon-right-desktop {
    display: none;
  }
  .footer-button-texts {
    padding: 2px 3px;
  }
  .footer-border {
    width: 300px;
    margin-left: 18px;
  }
  #footer-icon-right-mobile {
    padding-right: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .description-icon {
    margin-top: -17px;
    padding: 0;
  }
  .footer-email {
    margin-left: -40px;
  }
  .footer-ul li a {
    color: var(--gray);
  }
}
