.box-container {
  margin: 0 56px;
}

.box-container.fullWidth {
  margin: 0;
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 768px) {
  .box-container {
    margin: 0px;
  }
}
