body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "Akshar";
  src: url("./assets/font/static/Akshar-Medium.ttf");
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/font/Outfit/Outfit-VariableFont_wght.ttf");
}

* {
  font-family: "Akshar";
}
a {
  text-decoration: none;
}

:root {
  --gray: #37383f;
  --white: #ece8ef;
  --purple: #6b16a8;
  --black: #4d4f60;
}

button {
  font-family: "Outfit";
}

h4 {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  h4 {
    font-size: 28px;
    font-weight: 600;
  }
}
@media only screen and (max-width: 768px) {
  h4 {
    font-size: 24px;
    font-weight: 600;
  }
}
