.plant{
    background-color:  rgba(236, 232, 239, 1);
}
@media only screen and (min-width: 768.1px) {
    .plant{
        height: 800px;
    }
    .box-radio .onlineShope-img{
        width: 80%;
        margin: 0 auto;
    }
    .onlineShope-img img{
        width: 75%;
        margin: 50px 6px 50px 60px;
    }
}