@media only screen and (max-width: 768px) {
  .union6{
    display: none;
  }
}
@media only screen and (min-width: 768.1px) {
    .selfie{
        position: relative;
        
    }
    .union6{
        position: absolute;
    right: 3px;
    z-index: 0;
    top: -333px;
    height: 650px;
    }
    .about1{
        position: absolute;
        z-index: 1;
        top: -250px;
        height: 450px;
    }
}
@media only screen and (min-width: 1280px) {
}